.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  margin: 10px;
}

input[type=text] {
  padding: 10px;
  box-sizing: border-box;
}

input[type=submit] {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 10px;
}

#fail {
  padding: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid red;
}

#repos, #log {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
